<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dream">

    <application
        android:name=".main.DreamApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".main.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".main.login.LoginAct"
            android:screenOrientation="portrait" />
        <activity
            android:name=".main.login.RegAct"
            android:screenOrientation="portrait" />
        <activity
            android:name=".main.tabme.AccountPayAct"
            android:screenOrientation="portrait" />
        <activity
            android:name=".main.tabme.UserInfoAct"
            android:screenOrientation="portrait" />
        <activity
            android:name=".main.tabme.AddressAct"
            android:screenOrientation="portrait" />
        <activity
            android:name=".main.tabme.AddressEditAct"
            android:screenOrientation="portrait" />
        <activity
            android:name=".main.tabshow.CommentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".main.infoview.showgood.ShowInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".main.tabme.record.MyDreamRecordAct"
            android:screenOrientation="portrait" />
        <activity
            android:name=".main.seach.SeachActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".main.tabme.account.AccountAct"
            android:screenOrientation="portrait" />
        <activity
            android:name=".main.tabme.set.SetAct"
            android:screenOrientation="portrait" />

        <activity
            android:name=".main.infoview.GoodInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".main.tabme.prize.MyPrizeAct"
            android:screenOrientation="portrait" />
        <activity
            android:name=".main.tabme.address.AddressActivity"
            android:screenOrientation="portrait" />



        <!-- alipay sdk begin -->
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <!-- alipay sdk end -->


        <!-- QQ登录-->
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent222222" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

    </application>

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"></uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />


</manifest>
